button {
    position: relative;
    overflow: hidden;
    background-color: #1976d2; /* Solid color */
    color: white;
  }
  
  button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #5ce1e6; /* Solid color */
    transition: left 0.5s ease-in-out;
  }
  
  button:hover::before {
    left: 0;
  }
  
  button span {
    position: relative;
    z-index: 1;
  }